<div class="bracket-wrapper">
	<div id="{{id}}-top" class="bracket-entrant top">
		<span class="bracket-entrant-seed">{{racers.top.seed}}</span>
		<span class="bracket-entrant-name">{{racers.top.name}}</span>
	</div>
	<div id="{{id}}-bot" class="bracket-entrant bot">
		<span class="bracket-entrant-seed">{{racers.bot.seed}}</span>
		<span class="bracket-entrant-name">{{racers.bot.name}}</span>
	</div>
</div>
